<!DOCTYPE HTML>
<html lang = "en">
<head>
    <!-- basic.html -->
    <title>School</title>
    <meta charset = "UTF-8" />
    <style>
        body {
            background-color: lightblue;
        }

        h1 {
          color: black;
          text-align: center;
        }

        p {
          font-family: verdana;
          font-size: 20px;
          color: gray;
          text-align: center;
        }
    </style>
</head>
<body>
    <center>
        <h1>Assign assignments</h1>
        <p>Please put the assignment name here</p>
        <input type = "text" id = "myText" value = ""/>
        <p>Please put due date here</p>
        <script>
        $(function() {
          $('a#test').bind('click', function() {
            $.getJSON('/background_process_test',
                function(data) {});
            return false;
          });
        });
        </script>
         <div class='container'>
            <h3>Test</h3>
            <form>
                <a href=# id=test><button class='btn btn-default'>Test</button></a>
            </form>
         </div>
    </center>
</body>
</html>